main {
    padding: 2% 20%;
}

body {
    height: auto;
}

p {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}
h5 {
    color: rgb(255, 75, 75);
    margin-left: 11px;
}

table {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

span {
    font-weight: normal;
}

.tabs {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 20%;
    height: 660px;
}

.tabs button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 8px 12px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

.tabs button:hover {
    background-color: #ddd;
}

.tabs button.active {
    background-color: #ccc;
}

.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 80%;
    border-left: none;
    height: 660px;
    font-size: 14px;
}

.comboDescription {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.substitution {
    margin-top: 10px;
}

.menuItemName {
    font-weight: bold;
}

